<html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        
            <!-- Google Fonts -->
            <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
            <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet'>
            <title> More Recipes </title>
            <!-- Fonts -->
            <link rel="stylesheet" href="./fonts/css/font-awesome.css">
        
            <!-- Custom style -->
            <link rel="stylesheet" href="./css/style.css">
        </head>
        <body>
            <!-- Navbar begins -->
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a href="../index.html" class="navbar-brand"><img src="./img/more-recipes-logo.png" width="80" height="60" class="d-inline-block"> More Recipes</a>
                        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                                    <span class="navbar-toggler-icon"></span>
                        </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class=" ml-auto nav">
                            <li class="nav-item">
                                <a href="dashboard.html" class="nav-link">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a href="signup.html" class="nav-link">Sign up</a>
                            </li>
                            <li class="nav-item">
                                <a href="signin.html" class="nav-link">Sign in</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Navbar ends -->
        
        <!-- Search Bar -->
        <div class="container">
            <h2 class="text-center title-h2">Pizza Pepperoni with mushroom toppings.</h2>
            <img src="./img/pizzza.jpg" class="mx-auto d-block img_detail">
        <div class="row">
            <div class="col-sm">
                <h3 class="title-h3">Description</h3>
                <p>Finest pizza recipe made fromm the freshest ingredients on the planet. You can't go wrong with this delicacy on your dinner table. Try out this recipe for a mouth watering dinner, and don't forget to give me a hearthy Thumbs up!</p>
            </div>
            <div class="col-sm">
                <h3 class="title-h3">Ingredients</h3>
                <ul>
                    <li>1 1/2 tea-spoon of flour.</li>
                    <li>Half pound of cheese.</li>
                    <li>Quarter pound of margarine.</li>
                    <li>Half bottle of Soy milk.</li>
                    <li>Mushrooms.</li>
                    <li>Half bottle of Olive Oil.</li>
                    <li>Half crate of eggs.</li>
                </ul>
            </div>
            <div class="col-sm">
                <h3 class="title-h3">Instructions</h3>
                <ol>
                    <li>Heat your oven to a brisk 100 degrees.</li>
                    <li>Pour the flour in a bowl, add four eggs and stir.</li>
                    <li>When batter is ready, add in some Soy milk.</li>
                    <li>Heat your oven to a brisk 100 degrees.</li>
                    <li>Pour the flour in a bowl, add four eggs and stir.</li>
                    <li>When batter is ready, add in some Soy milk.</li>
                    <li>Heat your oven to a brisk 100 degrees.</li>
                    <li>Pour the flour in a bowl, add four eggs and stir.</li>
                    <li>When batter is ready, add in some Soy milk.</li>
                </ol>
            </div>
        </div>
        
        <div>
        <h4>Rate this Recipe: </h4><span>Upvote <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>  Downvote <a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a></span>
        </div>

    </div>
        <form class="container">
            <h3 class="title-h3-comment" id="comment">Post a comment.</h3>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label>Comment</label>
                <textarea class="form-control" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
    <footer class="footer">
    <span class="text-muted"></span>Made by: <a href="https://fiveninedeveloper.000webhostapp.com" target="_blank">Bill Michael</a> 
        <a href="https://github.com/Billmike" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a> 
        <a href="https://twitter.com/five_nine_dev" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
        <a href="https://medium.com/@billmike1994/" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a>
    </span>
    </footer>
              
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>